*                 @Kacper-Slezak @nix746

/firmware/        @damian677 @Kacper-Slezak @nix746
/backend/         @Kacper-Slezak @nix746
/frontend/        @AgataSlusarczyk @Kacper-Slezak @nix746
/detection/       @kirilol-ok @Kacper-Slezak @nix746
/hardware/        @carbon718 @Kacper-Slezak @nix746
/comms/           @Martynka123-code @Kacper-Slezak @nix746

/docs/            @damian677 @Kacper-Slezak @AgataSlusarczyk @nix746 @carbon718 @Martynka123-code @kirilol-ok
/.github/         @Kacper-Slezak
